body ,form, table{margin : 0;
	padding : 0;
	border : none; 
	font-family : "Times New Roman", Times, serif;
	font-size:  14px;
	
}
p {color: #FFFFFF;font-size:14px;}
td.standard {font-family: "Times New Roman", Times, serif; font-size: 14px; color: black; background-color: #FFFFFF}
td.group {font-family: "Times New Roman", Times, serif; font-size: 14px; color: black; font-weight: bold; background-color: #4CA20B;}

a{text-decoration: none; color: #000000;}
a:hover{color: #7B91B4;}
